#btnDataTable{
    margin: 5px; 
}
.delete {
    background-color: #ec4040;
    border: 1px solid #ec4040;
}
.delete:hover {
    background-color: red;
    border: 1px solid red;
}
#ph {
    height: 30%;
    /*text-align:center;*/
}
td {
    border: 1px dashed grey;
}
th {
    /*text-align: center;*/
}
td > img {
    display: block;
    margin:auto;
    text-align: center;
  
}
#ph {
    padding: 10px;
}
.paginate_button :hover
{
     background-color:aliceblue;
}
td > p > .overview{
    text-align:left;
    direction:ltr;
}




.btn-group {
    margin-top: 100px;
    display: flex; /* Make the buttons appear below each other */
    justify-content: center;
}

.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 200%; /* Set a width if needed */
   
    margin-top: 10px;
}

    .btn-group button:not(:last-child) {
        border-bottom: none; /* Prevent double borders */
    }

    /* Add a background color on hover */
    .btn-group button:hover {
        background-color: #3e8e41;
    }
.row {
  
    display: flex; /* Make the buttons appear below each other */
    justify-content: center;
}
#yellowDiv {
    background-color: yellow;
    height: 70px;
    width: 100px;
    border-radius: 10px;
    float: left;
}

#redDiv {
    background-color: red;
    height: 70px;
    width: 100px;
    border-radius: 10px;
    float: left;
}

#pinkDiv {
    background-color: pink;
    height: 70px;
    width: 100px;
    border-radius: 10px;
}

#blueDiv {
    background-color: deepskyblue;
    height: 70px;
    width: 100px;
    border-radius: 10px;
}

 